<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>page about me </p>
  <p class="user-firstname"></p>
  <p class="user-lastname"></p>
  <p class="user-email"></p>
  <p class="user-nickname"></p>
  <p class="user-registime"></p>

  <form action="http://localhost:3030/user/logout" method="post">
    <button type="submit" class="logout-button">
      log out
    </button>
  </form>

  <div class="room-list">
    <h2>My Rooms</h2>
    <ul class="my-room-list"></ul>
    <!-- </table> -->
    <h2>Other Rooms</h2>
    <ul class="other-room-list"></ul>
  </div>

  <script src="/js/getUserRooms.js"></script>
  <script src="/js/getUserInfo.js"></script>
  <script>

  const userId = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)
  getHostRoom(userId)
  getOtherRoom(userId)
  getUserInfoById(userId)

  </script>
</body>
</html>