body {
  --primaryColor: #9fa0fd;
  --lightPrimaryColor:#dfdfff;
  --xlightPrimaryColor:#efeffc;
  --boldPrimaryColor: #8a8cff;
  font-family: 'Rubik', sans-serif;
  margin:0;
}

nav {
  color: black;
  height: 84px;
  display: flex;
  border-bottom: solid 1px var(--lightPrimaryColor);

}

.icon {
  display: flex;
  margin: 20px;
}

.icon-img {
  background-image: url("./../src/chat.png");
  background-repeat: no-repeat;
  background-size: 50px;
  height: 64px;
  width: 64px;
}

.icon > p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  letter-spacing: -0.04em;

}
.user-profile, .log-out {
  margin: 30px;
  margin-left: auto;
  color:var(--primaryColor);
  border: solid var(--primaryColor);
  border-radius: 30px;
  height: 30px;
  width: auto;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.user-profile > div, .logout-button{
  position: relative;
  top: 5px;
  text-align: center;
}

.user-profile:hover, .log-out:hover{
  color: white;
  background-color: var(--primaryColor);
  font-weight: 1000;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

.log-out {
  margin-left: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  margin-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

.dropdown-content div {
  color: black;
  margin-top: 3px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show { display: block; }
.show div:hover {
  background-color: var(--lightPrimaryColor); 
  border-radius: 20px;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;  
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

.list-content {
  display: block;
  margin-left: 10%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.room-list {
  margin-left: 40px;
  height: 66vh;
}

.room-list-head, .guest-book-head {
  display: flex;
  position: relative;
}

.add-sign {
  position: absolute;
  background-image: url("../src/plus.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 30px;
  border: solid 0.1px var(--boldPrimaryColor);
  border-radius: 50%;
  top: 15px;
  left: 160px;
}

.add-sign:hover{
  /* background-color: rgba(182, 182, 182, 0.705); */
  background-color: var(--lightPrimaryColor);
}

.create-room-form, .search-room-form{
  /* border: solid 1px; */
  margin-top: 19px;
  margin-left: 50px;
  /* background-color: #8a8cff; */
  animation: popout 0.2s ease;
}

.room-name-input {
  border-radius: 100px;
  height: 20px;
  border: solid 2.5px var(--boldPrimaryColor);
  padding: 5px;
  padding-left: 8px;
  outline: var(--boldPrimaryColor);
  font-size: 20px;
  letter-spacing: 0.01em;
}

#search-room-name-input {
  width: 175px;
}

@keyframes popout {
  from{transform:scale(0)}
}
@-webkit-keyframes popout {
  from{-webkit-transform:scale(0)}
}

/* .create-room-btn {
  background-image: url("./../src/checked.png");
} */

.cancel-create-room-btn, .cancel-search-room-btn {
  background-image: url("./../src/close.png");
}
/* .create-room-btn, .cancel-create-room-btn { */
.cancel-create-room-btn, .cancel-search-room-btn{
  background-size: 35px;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  border-radius: 50%;
}

.cancel-search-room-btn {

}

.cancel-create-room-btn:hover, .cancel-search-room-btn:hover {
  background-color: var(--lightPrimaryColor);
  transition: all 0.3s ease-in;
}

.my-room-list, .other-room-list, .search-room-list, .guest-book-comments{
  border: solid 0px;
  width: 400px; 
  height: 33vh; 
  overflow: auto;
  background-color:  var(--xlightPrimaryColor);
  border-radius: 14px;
  /* margin-left: 40px; */
  padding: 0;
}


.room-li {
  height: 40px;
  width: 100%;
  padding-left: 20px;
  padding-top: 14px;
  position: relative;
}

.room-li > span {
  position:absolute;
  right: 20px;
}

.room-li:hover {
  /* background-color: rgba(226, 225, 225, 0.245); */
  background-color: var(--lightPrimaryColor);
  -webkit-animation:normal;
  -webkit-animation-name: run;
  -webkit-animation-duration: .5s;
}

@-webkit-keyframes run {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.room-li-container {
  display: flex;
  border-bottom: solid 0.8px var(--primaryColor);
  /* padding-right: 10px; */
}


div[class*='-room-btn_'] {
  background-image: url('../src/delete.png');
  background-color: var(--xlightPrimaryColor);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-right: 5px; 
}

div[class*='-room-btn_']:hover {
  background-color: var(--lightPrimaryColor);
  transition: all 0.5s;
}

div[class*='join-room-btn_'] {
  background-image: url('../src/group.png');
  background-size: 40px;
  background-position: center;
}

div[class*='join-room-btn_']:hover {
  background-color: var(--lightPrimaryColor);
}

.search-room-list {
  display: none;
}

.guest-book {
  margin-left: 0px;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
@media screen and (min-width: 1100px) {
  /* big screen */

  .list-content {
    display: flex;
  }
  
  .my-room-list, .other-room-list, .guest-book-comments{
    width: 450px
    
  }
  /* user profile hover dropdown */

  .dropdown-content div:hover {
    background-color: var(--lightPrimaryColor); 
    border-radius: 20px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;  
  }
  
  .user-profile:hover .dropdown-content {display: block;}
  
  .guest-book {
    margin-left: 10%;
  }
}