body {
  background-color: rgb(235, 237, 234);
}

nav {
  display: flex;
  padding-top: 20px;  

}

.icon {
  
}

.user-profile {
  margin-left: auto;
  margin-right: 300px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show { display: block; }
.show div:hover {background-color: #ddd;}

.room-list-head {
  display: flex;
  position: relative;
}

.add-sign {
  position: absolute;
  background-image: url("../src/plus.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 0.3s ease;
  height: 30px;
  width: 30px;
  border: solid 0.1px;
  border-radius: 50%;
  top: 15px;
  left: 160px;
}

.add-sign:hover{
  background-color: rgba(182, 182, 182, 0.705);
}

.my-room-list, .other-room-list {
  border: solid 0px;
  width: 400px; 
  height: 100px; 
  overflow: auto;
  background-color:rgba(246, 245, 245, 0.5) ;
  padding: 0;
}

.room-li {
  height: 60px;
  width: 100%;
}

.room-li:hover {
  background-color: rgba(226, 225, 225, 0.245);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
@media screen and (min-width: 900px) {
  /* big screen */
  .my-room-list, .other-room-list {
    width: 450px
  }

  /* user profile hover dropdown */

  
  .dropdown-content div:hover {background-color: #ddd;}
  
  .user-profile:hover .dropdown-content {display: block;}
  
  .user-profile:hover .user-firstname {background-color: #3e8e41;}

  
}